body {
    text-align: center;
    background:linear-gradient(to right, rgb(229, 155, 201), rgb(71, 8, 51));
    color: #fff; /* Text color */
    font-family: 'Arial', sans-serif; /* Change the font family to your preference */
    line-height: 1.6; /* Improve readability with increased line height */
    padding: 10px; /* Add some padding for content separation */

}


canvas {
    background:linear-gradient(to right, rgb(8, 60, 99), rgb(147, 71, 217));
    display: block;
    margin: 0 auto;
    border: 2px solid rgb(103, 246, 229);
    width: 100%;
    box-shadow: 0 0 10px rgba(204, 204, 23, 0.8); /* Shadow effect */
}

h1 {
    font-size: 42px;
    color:rgb(5, 10, 110);
    font-family:monospace; /* Change the font-family to your preference */
    text-shadow: 2px 2px 4px rgba(11, 8, 8, 0.5); /* Add a shadow effect */
    animation: carousel 5s infinite; /* Example of a simple carousel animation */
    border: 2px solid rgb(0, 10, 19); /* Add border */
    padding: 10px; /* Add padding for space around the text */
    display: inline-block; /* Make the border and padding apply without affecting layout */
    position: relative; /* Position for absolute positioned letters */
}
h1 span {
    display: inline-block;
    position: absolute;
    opacity: 0;
    animation: float 5s infinite alternate;
}

/* Keyframes for the floating animation */
@keyframes float {
    0% {
        transform: translateY(0);
        opacity: 0.7;
    }
    100% {
        transform: translateY(-20px);
        opacity: 0.2;
    }
}
